<div class="wrapper">

  <div class="title">
    <h1>Join us and enjoy our blog</h1>
    <h2>Feel your personal info to become a member</h2>
  </div>
  <form class="formContainer" method="POST" action="/auth/register_user" enctype="multipart/form-data">
    <%= token_tag %>
    <div class="formItem">
      <label class="formLabel" for="name">Name<br></label>
      <input class="inputField" type="text" name="name" placeholder="David">
    </div>
    <div class="formItem">
      <label class="formLabel" for="surname">Surname<br></label>
      <input class="inputField" type="text" name="surname" placeholder="Brown">
    </div>
    <div class="formItem">
      <label class="formLabel" for="email">Email<br></label>
      <input class="inputField" type="email" name="email" placeholder="example@mail.com">
    </div>
    <div class="formItem">
      <label class="formLabel" for="password">Password<br></label>
      <input class="inputField" type="password" name="password" placeholder="Your passwrd">
    </div>
    <div class="formItem">
      <label class="formLabel" for="confirm_password">Confirm password<br></label>
      <input class="inputField" type="password" name="confirm_password" placeholder="Your passwrd">
    </div>
    <div>
      <div><input class="submitButton" type="submit" value="Accept"></div>
    </div>
  </form>
</div>