<div>
  <div class="navigation">
    <span><%=link_to "Home", "/", class: "navigationItem" %></span>
    <span><%=link_to "Add post", posts_new_path, class: "navigationItem" %></span>
    <span><%=link_to "About developer", info_pages_about_me_path, class: "navigationItem" %></span>

  </div>
  <h1 class="title">Some developer info here</h1>
</div>