<h3>Craete new post</h3>

<form method="POST" action="/posts/save" enctype="multipart/form-data">
  <%= token_tag %>

  <div>
    <label for="header">Title<br></label>
    <input type="text" name="header" >
  </div>
  <div>
    <label for="body">Post Content<br></label>
    <textarea name="body" cols="30" rows="10"></textarea>
  </div>
  <div>
    <div><input type="submit" value="Create Post"></div>
  </div>
</form>